MINIO_PROMETHEUS_AUTH_TYPE="public"
{% if minio_servers | length > 1 %}
MINIO_VOLUMES='https://{{ minio_servers | list | join(minio_path + "/minio/T_" + item + " https://") }}{{ minio_path }}/minio/T_{{ item }}'
{% else %}
MINIO_VOLUMES="{{ minio_path }}/minio/T_{{ item }}"
{% endif %}
MINIO_OPTS="--address {{ ansible_default_ipv4.address }}:{{ minio_start_port|int + index + 1 }}"
MINIO_ACCESS_KEY="{{ lookup('password', '' + minio_cluster + item + ':accessKey length=20 chars=ascii_letters,digits')|upper }}"
MINIO_SECRET_KEY="{{ lookup('password', '' + minio_cluster + item + ':secretKey length=40 chars=ascii_letters,digits') }}"
MINIO_BROWSER={{ minio_arg.webui }}
MINIO_DRIVE_SYNC={{ minio_arg.drive_sync }}
MINIO_COMPRESS="{{ minio_arg.compress_enabled }}"
MINIO_COMPRESS_EXTENSIONS=".{{ minio_arg.compress_extensions | join(',.') }}"
MINIO_COMPRESS_MIMETYPES="{{ minio_arg.compress_mime_types | join(',') }}"
{% if minio_arg.cache | bool %}
MINIO_CACHE="on"
MINIO_CACHE_DRIVES="{{ minio_path }}/cache/minio/T_{{ item }}"
MINIO_CACHE_EXPIRY={{ minio_arg.cache_expiry }}
MINIO_CACHE_EXCLUDE="{{ minio_arg.cache_exclude }}"
MINIO_CACHE_QUOTA={{ minio_arg.cache_quota }}
{% endif %}
