{% if minio_servers | length > 1 %}
MINIO_VOLUMES='http://{{ minio_servers | list | join(minio_path + "/minio/T" + item + " http://") }}{{ minio_path }}/minio/T{{ item|int }}'
{% else %}
MINIO_VOLUMES="{{ minio_path }}/minio/T{{ item }}"
{% endif %}
MINIO_OPTS="--address :{{ minio_start_port|int + item|int }}"
MINIO_ACCESS_KEY="{{ lookup('password', '' + minio_cluster + item + ':accessKey length=20 chars=ascii_letters,digits')|upper }}"
MINIO_SECRET_KEY="{{ lookup('password', '' + minio_cluster + item + ':secretKey length=40 chars=ascii_letters,digits') }}"
MINIO_BROWSER={{ minio_arg.webui }}
MINIO_DRIVE_SYNC={{ minio_arg.drive_sync }}
MINIO_COMPRESS="{{ minio_arg.compress_enabled }}"
MINIO_COMPRESS_EXTENSIONS=".{{ minio_arg.compress_extensions | join(',.') }}"
MINIO_COMPRESS_MIMETYPES="{{ minio_arg.compress_mime_types | join(',') }}"
